body {
  font-family: "Courier New", Courier, monospace;
}

.meet-the-team-section {
  padding: 3rem 1.5rem;
  text-align: center;
}

.team-members {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  margin-top: 2rem;
}

.team-member {
  text-align: center;
}

.team-member h3 h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #000;
}
.team-member p {
  font-size: 1.2rem;
  color: #000;
}

.team-member img {
  width: 100%;
  max-width: 300px;
  height: 320px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .team-members {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
.team-member h3 h4 {
  margin: 0.5rem 0 0.25rem 0;
  font-size: 1.25rem;
}
.team-member p {
  margin: 0;
  color: #666;
  font-size: 1.1rem;
}
